body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background-color: antiquewhite;
}
p{
    font-family: 'verdana';
}